body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(81, 192, 240);
}
/* impostazioni del header*/
header{
    width: 100%;
    height: 600px;
}


/* impostazioni del menu del sito*/
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center ;
    width: 70%;
    margin: 2% auto;
    height: 10%;
    background-color: rgb(251, 251, 81);
    border-style: dashed;
}


a{
    text-decoration: none;
}

#logo{
    border-right: dashed;
    width: 20%;
    height: 100%;
    padding-left: 10px;
    align-content: center;
}

.voci-menu{
    padding: 0%;
    display: inline-flex;
    list-style-type: none;
    gap: 10px;
}


#login{
    border-left: dashed;
    width: 20%;
    height: 100%;
    padding-right: 10px;
    align-content: center;
    text-align: end;
}

/* impostazioni della presentazione principale della pagina*/

#principale{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 100);
    width: 100%;
    height: 86%;
}

#conteiner1{
    margin: auto;
    background-color: rgb(219, 28, 194);
    width: 60%;
    height: 80%;
}

/* inizio del main*/ 
main{
    background-color: white;
    width: 100%;
    height: auto;

}

/* stylin first row*/ 
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;

    /*DEBUG*/
    height: 350px;
}

.square-blu{
    /*DEBUG*/
    background-color: blue;
    height: 80%;
    border-style: dashed;
}

.square-pink{
    /*DEBUG*/
    background-color:pink;
    height: 80%;
    border-style: dashed;
}

.one{
    width: 70% ; 
}

.tow{
    width: 30% ;
}

/* stylin secound row*/ 

.sezione2{
    background-color: gray;
}

.tre{
    width: 30% ;
}

.four{
    width: 70% ;
}

/* stylin third row*/ 
.sezione3{
    background-color: white;

}

.cinque{
    width: 70% ;
}

.sei{
    width: 30% ;
}

/* stylin fourth row*/ 

.sezione4{
    background-color: gray;
    height: 550px;

}
 .row-4{
    margin: auto;
    height: 80%;
    width: 70% ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
 }

.sette{
    background-color: blue;
    border-style: dashed;
  
}


/* Pie pagina*/ 

footer{
    background-color: black;
    height: 400px;
    width: 100%;
}

#chiusura{
    display:flex ;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 400px

}

.column1{
    background-color: brown;
    border-style: dashed;
    width: 20%;
    height: 80%;
}

.column2{
    width: 80%;
    border-style: dashed;
}

.verde{
    background-color: green;
    height: 80%;
    width: calc(100%/3);
}

